.student-list-page {
  padding: 20px;
}

.student-list-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.student-list-page button {
  background-color: #ff0000;
  color: #fff;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.student-list-page button:hover{
  background-color: #009edc;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

.student-table th {
  background-color: #f4f4f4;
  color: #333;
}
.student-table th {
  background-color: #007acc;;
  color: #333;
}

.student-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.student-table tr:hover {
  background-color: #f1f1f1;
}

.actions button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:first-child {
  background-color: #007bff;
  color: white;
}

.actions button:last-child {
  background-color: #dc3545;
  color: white;
}

.actions button:hover {
  opacity: 0.8;
}
